

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin:0;
    font-family:'Noto Sans', sans-serif ;
}
body *{
    box-sizing: border-box;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: #372749;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leftimg{
    width: 22vw;
}
.left > h1{
    color: #0bb087;
    font-size: 3vw;
}
.right {
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #603f70;
    border-radius: 25px;
    box-shadow: 0px 10px 40px #228c7a;
}
.card-login > h1{
    color: #0bb087;
    font-weight: 800;
    margin:0 ;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.textfield >input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #5f406f84;
    color:#397e80b1 ;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #0bb087;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #228c7a;
    margin-bottom: 10px;
}

.textfield > input ::placeholder{
    color: #c0e6df;
}
.btn-login{
    width: 100%;
    padding: 16px 2px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #282131;
    background: #20debe;
    cursor: pointer;
    box-shadow: 0px 10px 30px -12px #22c782;
}

@media  only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}
@media  only screen and (max-width: 650px){
    .main{
        flex-direction: column;
    }
    .left >h1 {
       display: none;
    }
    .left{
        width: 100%;
        height: auto;
    }
    .right{
        width: 100%;
        height: auto;
    }
    .leftimg{
        width: 50vh;
    }
    .card-login{
        width: 90;
    }
}